{% extends "layout.html" %}
{% block content %}
    <div class="simple">
        <form action="/custom_gmc_run" method="POST">
            <h3>In advanced mode the hyperparameters will be obtained
                automatically, but you can customize the way that will be achieved. </h3>
            <h2>Free cores: {{ free_threads }}</h2>
            <div class="row">
                <div class="column">
                    Select dataset<br/>
                    <select name=datasets method="GET" action="/" size="10">
                        <option value="{{ state['dataset'] }}" selected>{{ state['dataset'] }}</option>
                        {% for dataset in datasets %}
                            {# add only if differante than passed state (to not duplicate) #}
                            {% if state['dataset'] != dataset %}
                                <option value="{{ dataset }}">{{ dataset }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div>Validation part: <span id="validation_size"></span>%</div>
                    <input type="range" name="validation_size" style="width: auto"
                           min="1" max="90" value="{{ state['validation_size'] }}"
                           class="slider" id="validation_size_gmc"
                           title="What percentage of dataset will be subtracted for validation test (that part won't be used in evolution process)">
                </div>

                <br/>

                <div class="column" style="min-width: 600px">
                    <h1>CUSTOMIZE PARAMETERS FOR GMC</h1>
                    <hr>
                    <div class="slider_text"> Assign <span id="n_jobs"></span> logical cores</div>
                    <input type="range" name="n_jobs"
                           min="0" max="{{ free_threads }}"
                           value="{{ free_threads }}"
                           class="slider" id="n_jobs_gmc">
                    <hr>
                    <div class="slider_text">Population size: <span id="pop_size"></span></div>
                    <input type="range" name="pop_size"
                           min="2" max="1000" value="{{ state['pop_size'] }}"
                           class="slider" id="pop_size_gmc">
                    <hr>
                    <div class="slider_text"> Generations: <span id="gen_size"></span></div>
                    <input type="range" name="gen_size"
                           min="2" max="100000" value="{{ state['gen_size'] }}"
                           class="slider" id="gen_size_gmc">
                    <hr>
                    <div class="slider_text"> Elitism: <span id="elitism"></span></div>
                    <input type="range" name="elitism"
                           min="0" max="1000" value="{{ state['elitism'] }}"
                           class="slider" id="elitism_gmc">
                    <hr>
                    <div class="slider_text">Cross-validation folds: <span id="cv"></span></div>
                    <input type="range" name="cv"
                           min="2" max="101" value="{{ state['cv'] }}"
                           class="slider" id="cv_gmc"
                           title='If LeaveOneOut is chosen maximum number of folds will be used (test_size - 1)'>
                    <hr>

                    <div class="slider_text">Cross-over chance: <span id="cross_chance"></span>%</div>
                    <input type="range" name="cross_chance"
                           min="0" max="100" value="{{ state['cross_chance'] }}"
                           class="slider" id="cross_chance_gmc"
                           title='How likely it is for each evolving individual to be a product of cross-over.'>
                    <div class="slider_text">Cross-over method: <span id="cross_method"></span></div>
                    <input type="range" name="cross_method"
                           min="0" max="2" value="{{ state['cross_method'] }}"
                           class="slider" id="cross_method_gmc"
                           title='Type of method used for mixing genes'>
                    <div class="slider_text">Selection method: <span id="selection_method"></span></div>
                    <input type="range" name="selection_method"
                           min="0" max="4" value="{{ state['selection_method'] }}"
                           class="slider" id="selection_method_gmc"
                           title='Type of method used for selecting individuals for cross-over'>

                    <hr>
                    <div class="slider_text">Early stop: <span id="early_stop"></span></div>
                    <input type="range" name="early_stop"
                           min="0" max="100" value="{{ state['early_stop'] }}"
                           class="slider" id="early_stop_gmc"
                           title='After how many generations without improvement stop. Choose 0 to turn off.'>
                    <div class="slider_text">Pipeline time limit: <span id="pipe_time"></span> minutes</div>
                    <input type="range" name="pipe_time"
                           min="1" max="300" value="{{ state['pipe_time'] }}"
                           class="slider" id="pipe_time_gmc"
                           title='Global time limit will be determined automatically'>

                    <hr>
                    <div class="slider_text">Mutation chance: <span id="mutation"></span>%</div>
                    <input type="range" name="mutation"
                           min="0" max="100" value="{{ state['mutation'] }}"
                           class="slider" id="mutation_gmc"
                           title='How likely it its for individual to mutate. Also determines chances for each parameter to mutate if the individual was selected for mutation'>

                    <div class="slider_text">Mutation power: <span id="mutation_power"></span>%</div>
                    <input type="range" name="mutation_power"
                           min="1" max="500" value="{{ state['mutation_power'] }}"
                           class="slider" id="mutation_power_gmc"
                           title='How likely it its for individual to mutate'>


                </div>

                <div class="column">
                    Select parameter grid<br/>
                    <select name=grids method="GET" action="/" size="5">
                        <option value="{{ state['grid'] }}" selected>{{ state['grid'] }}</option>
                        {% for grid in grids %}
                            {# add only if differante than passed state (to not duplicate) #}
                            {% if state['grid'] != grid %}
                                <option value="{{ grid }}">{{ grid }}</option>
                            {% endif %}
                        {% endfor %}
                    </select><br/>
                    Preselection: <label class="tip" type="checkbox"
                                         title='Each random configuration will be preselected using RandomGridSearchCV'></label>
                    {#   value="True" -> otherwise input will return 'on' instead od True             #}
                    <input name="preselection" type="checkbox" value="True"
                           {% if state['preselection'] %}checked{% endif %}>

                    <div class="column">
                        <hr>
                        <div style="text-align: right">
                            Allow fresh genes: <label class="tip" type="checkbox"
                                                      title='Works with early stop - if algorithm will be close to stopping new individuals will be generated'></label>
                            {#   value="True" -> otherwise input will return 'on' instead od True             #}
                            <input name="fresh_blood" type="checkbox" value="True"
                                   {% if state['fresh_genes'] %}checked{% endif %}>
                            <hr>
                            Random state: <input type="number"
                                                 name="random_state"
                                                 style="width: 60px"
                                                 min="1"
                                                 max="100000"
                                                 value={{ state['random_state'] }}
                                                         step="1"
                                                 class="slider"
                                                 title='Important for reproducibility.'><br/>
                            <hr>
                        </div>
                        <div style="text-align: right">
                            Partial training:<span id="partial_explore"></span>%
                            </br>
                            <input type="range" name="partial_explore" style="width: auto"
                                   min="0" max="99" value="{{ state['partial_explore'] }}"
                                   class="slider" id="partial_explore_gmc"
                                   title="What percentage of learning dataset will be dropped for better performance">
                            <hr>
                        </div>
                        <input class="evo" type="submit" value="START EVOLUTION" style="height: 80px">
                        <hr>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>


    {% include "status.html" %}

    <div class="simple" style="display: flex;">
        <form action="/stop_gmc" method="GET">
            <input type="submit" value="Stop GMC">
        </form>
        <form action="/stop_tpot" method="GET">
            <input type="submit" value="Stop TPOT">
        </form>
        <form action="/cls" method="GET">
            <input type="submit" value="Clear GMC console">
        </form>
        <form action="/cls_tpot" method="GET">
            <input type="submit" value="Clear TPOT console">
        </form>
    </div>

    <script>
        var slider = document.getElementById("n_jobs_gmc");
        var output = document.getElementById("n_jobs");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
        }
        var slider2 = document.getElementById("pop_size_gmc");
        var output2 = document.getElementById("pop_size");
        output2.innerHTML = slider2.value;

        slider2.oninput = function () {
            output2.innerHTML = this.value;
        }
        var slider3 = document.getElementById("gen_size_gmc");
        var output3 = document.getElementById("gen_size");
        output3.innerHTML = slider3.value;

        slider3.oninput = function () {
            output3.innerHTML = this.value;
        }
        var slider4 = document.getElementById("cv_gmc");
        var output4 = document.getElementById("cv");
        output4.innerHTML = slider4.value;

        slider4.oninput = function () {
            if (this.value == 101) {
                output4.innerHTML = 'LeaveOneOut';
            } else {
                output4.innerHTML = this.value;
            }
        }
        var slider5 = document.getElementById("early_stop_gmc");
        var output5 = document.getElementById("early_stop");
        output5.innerHTML = slider5.value;

        slider5.oninput = function () {
            if (this.value == 0) {
                output5.innerHTML = 'Off';
            } else {
                output5.innerHTML = this.value;
            }
        }
        var slider6 = document.getElementById("cross_chance_gmc");
        var output6 = document.getElementById("cross_chance");
        output6.innerHTML = slider6.value;

        slider6.oninput = function () {
            output6.innerHTML = this.value;
        }

        var slider7 = document.getElementById("cross_method_gmc");
        var output7 = document.getElementById("cross_method");
        output7.innerHTML = 'single-point';

        slider7.oninput = function () {
            if (this.value == 0) {
                output7.innerHTML = 'average';
            } else if (this.value == 1) {
                output7.innerHTML = 'single-point';
            } else if (this.value == 2) {
                output7.innerHTML = 'uniform';
            } else {
                output7.innerHTML = this.value;
            }
        }

        var slider8 = document.getElementById("mutation_gmc");
        var output8 = document.getElementById("mutation");
        output8.innerHTML = slider8.value;

        slider8.oninput = function () {
            output8.innerHTML = this.value;
        }

        var slider9 = document.getElementById("mutation_power_gmc");
        var output9 = document.getElementById("mutation_power");
        output9.innerHTML = slider9.value;

        slider9.oninput = function () {
            output9.innerHTML = this.value;
        }

        var slider10 = document.getElementById("validation_size_gmc");
        var output10 = document.getElementById("validation_size");
        output10.innerHTML = slider10.value;

        slider10.oninput = function () {
            output10.innerHTML = this.value;
        }

        var slider11 = document.getElementById("selection_method_gmc");
        var output11 = document.getElementById("selection_method");
        output11.innerHTML = 'roulette';

        slider11.oninput = function () {
            if (this.value == 0) {
                output11.innerHTML = 'roulette';
            } else if (this.value == 1) {
                output11.innerHTML = 'tournament (size 5)';
            } else if (this.value == 2) {
                output11.innerHTML = 'tournament (size 10)';
            } else if (this.value == 3) {
                output11.innerHTML = 'tournament (size 15)';
            } else if (this.value == 4) {
                output11.innerHTML = 'tournament (size 20)';
            } else {
                output11.innerHTML = this.value;
            }
        }

        var slider12 = document.getElementById("pipe_time_gmc");
        var output12 = document.getElementById("pipe_time");
        output12.innerHTML = slider12.value;

        slider12.oninput = function () {
            output12.innerHTML = this.value;
        }

        var slider13 = document.getElementById("elitism_gmc");
        var output13 = document.getElementById("elitism");
        output13.innerHTML = slider13.value;

        slider13.oninput = function () {
            output13.innerHTML = this.value;
        }

        var slider14 = document.getElementById("partial_explore_gmc");
        var output14 = document.getElementById("partial_explore");
        output14.innerHTML = slider14.value;

        slider14.oninput = function () {
            output14.innerHTML = this.value;
        }

    </script>
{% endblock %}

{# value3|safe <- zostanie zinterpretowane jako kod html #}

{#
        <form>
            <button value="TPOT" onclick={% set choice='TPOT' %}>TPOT</button>
            <button value="GMC" onclick={% set choice='GMC' %}>GMC</button>

            {% if choice == 'TPOT' %} WYBRANO TIPOTA {% endif %}
            {% if choice == 'GMC' %} WYBRANO GMC {% endif %}
        </form>
#}