<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<div id="status" class="simple">
    <div class="row">
        <div class="column">
            <h1>GMC STATUS:</h1>
            <div class="scrollable_status">
                <h3>
                    <div id="gmc_status">{{ gmc_status['status']|safe }}</div>
                </h3>
            </div>
            <div id="gmc_plot"><img src="{{ gmc_status['plot']|safe }}"/></div>
            <h3>
                Best score:
                <div id="gmc_score">{{ gmc_status['best_score']|safe }}</div>
            </h3>
        </div>
        <div class="column">
            <h1>TPOT STATUS:</h1>
            <div class="scrollable_status">
                <h3>
                    <div id="tpot_status">{{ tpot_status['status']|safe }}</div>
                </h3>
            </div>
            <div id="tpot_plot"><img src="{{ tpot_status['plot']|safe }}"/></div>
            <h3>
                Best score:
                <div id="tpot_score">{{ tpot_status['best_score']|safe }}</div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h3>
                Best GMC pipeline:
                <div id="gmc_pipe">{{ gmc_status['pipeline']|safe }}</div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h3>
                Best TPOT pipeline:
                <div id="tpot_pipe">{{ tpot_status['pipeline']|safe }}</div>
            </h3>
        </div>

    </div>

</div>


<script>
    setInterval(function () {
        $("#gmc_status").load("/gmc_status")
        $("#gmc_plot").load("/gmc_plot")
        $("#tpot_status").load("/tpot_status")
        $("#tpot_score").load("/tpot_score")
        $("#tpot_plot").load("/tpot_plot")
        $("#gmc_score").load("/gmc_score")
        $("#tpot_pipe").load("/tpot_pipe")
        $("#gmc_pipe").load("/gmc_pipe")
    }, 2000)
</script>

</div>